<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>express</key>
	<dict>
		<key>Z</key>
		<array>
			<string>宅急送</string>
			<string>中通快递</string>
			<string>中铁快运</string>
			<string>中铁物流</string>
			<string>中邮物流</string>
			<string>芝麻开门</string>
			<string>忠信达</string>
			<string>郑州建华</string>
		</array>
		<key>Y</key>
		<array>
			<string>圆通速递</string>
			<string>韵达快运</string>
			<string>邮政国内包裹</string>
			<string>邮政国际包裹</string>
			<string>邮政特快专递</string>
			<string>远成物流</string>
			<string>亚风速递</string>
			<string>源伟丰</string>
			<string>优速快递</string>
			<string>元智捷诚</string>
			<string>越丰物流</string>
			<string>源安达</string>
			<string>原飞航</string>
			<string>银捷速递</string>
			<string>运通中港</string>
		</array>
		<key>X</key>
		<array>
			<string>鑫飞鸿</string>
			<string>新邦物流</string>
			<string>信丰物流</string>
			<string>希伊艾斯（CCES）</string>
		</array>
		<key>W</key>
		<array>
			<string>万象物流</string>
			<string>万家物流</string>
			<string>微特派</string>
		</array>
		<key>V</key>
		<array/>
		<key>U</key>
		<array>
			<string>UPS</string>
			<string>USPS（美国邮政）</string>
		</array>
		<key>T</key>
		<array>
			<string>TNT</string>
			<string>天天快递</string>
			<string>天地华宇</string>
			<string>通和天下</string>
		</array>
		<key>S</key>
		<array>
			<string>申通E物流</string>
			<string>申通快递</string>
			<string>顺丰速运</string>
			<string>速尔快递</string>
			<string>盛辉物流</string>
			<string>盛丰物流</string>
			<string>上大国际</string>
			<string>三态速递</string>
			<string>山东海红</string>
			<string>赛澳递</string>
		</array>
		<key>R</key>
		<array>
			<string>如风达</string>
		</array>
		<key>Q</key>
		<array>
			<string>全峰快递</string>
			<string>全一快递</string>
			<string>全晨快递</string>
			<string>全际通</string>
			<string>全日通</string>
		</array>
		<key>P</key>
		<array/>
		<key>O</key>
		<array>
			<string>OCS</string>
		</array>
		<key>M</key>
		<array>
			<string>民航快递</string>
			<string>美国快递</string>
			<string>门对门</string>
		</array>
		<key>L</key>
		<array>
			<string>联邦快递</string>
			<string>龙邦速递</string>
			<string>蓝镖快递</string>
			<string>立即送</string>
			<string>乐捷递</string>
			<string>联昊通</string>
		</array>
		<key>K</key>
		<array>
			<string>快捷速递</string>
		</array>
		<key>J</key>
		<array>
			<string>佳吉快运</string>
			<string>嘉里大通</string>
			<string>佳怡物流</string>
			<string>京广速递</string>
			<string>金大物流</string>
			<string>晋越快递</string>
			<string>急先达</string>
			<string>加运美</string>
		</array>
		<key>I</key>
		<array/>
		<key>H</key>
		<array>
			<string>海航天天</string>
			<string>汇通快运</string>
			<string>华宇物流</string>
			<string>恒路物流</string>
			<string>海外环球</string>
			<string>华夏龙</string>
		</array>
		<key>G</key>
		<array>
			<string>挂号信</string>
			<string>能达速递</string>
			<string>共速达</string>
			<string>GLS</string>
		</array>
		<key>F</key>
		<array>
			<string>凡客</string>
			<string>FedEx-美国</string>
			<string>FedEx-国际</string>
			<string>FedEx-国内</string>
			<string>飞康达</string>
		</array>
		<key>E</key>
		<array>
			<string>EMS-国内</string>
			<string>EMS-国际</string>
		</array>
		<key>D</key>
		<array>
			<string>DHL</string>
			<string>DHL德国</string>
			<string>D速物流</string>
			<string>德邦物流</string>
			<string>大田物流</string>
			<string>DPEX</string>
			<string>递四方</string>
		</array>
		<key>C</key>
		<array>
			<string>CCES（希伊艾斯）</string>
			<string>成都立即送</string>
		</array>
		<key>B</key>
		<array>
			<string>包裹/平邮/挂号信</string>
			<string>BHT国际快递</string>
			<string>百福东方</string>
		</array>
		<key>A</key>
		<array>
			<string>AAE-中国</string>
			<string>安捷快递</string>
			<string>安信达</string>
		</array>
		<key>common</key>
		<array>
			<string>EMS</string>
			<string>申通快递</string>
			<string>顺丰速运</string>
			<string>圆通速递</string>
			<string>韵达快运</string>
			<string>中通快递</string>
			<string>汇通快运</string>
			<string>天天快递</string>
			<string>宅急送</string>
			<string>邮政国内包裹</string>
			<string>邮政国际包裹</string>
			<string>EMS国际快递</string>
		</array>
	</dict>
	<key>alphabet</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
	</array>
</dict>
</plist>
